
<% if @menu.photos? %>
        <% image = cl_image_path @menu.photos[0].path %>
<% else %>
        <% image = 'http://placehold.it/350x150' %>
<% end %>

<div class="banner" id="half-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image %>)"">


  <div class="banner-content text-center">
    <h1><%= @menu.name %></h1>
  </div>
</div>

<div class="wrapper-user">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="user-card">
          <div class="user-card-title text-center">
            <h2> Your Chef </h2>
          </div>
          <div class="chef-card-photo text-center">
            <% if @menu.user.photo? %>
              <%= cl_image_tag @menu.user.photo.path, width: 200, height: 200, crop: :fill, class: "img-circle" %>
            <% else %>
              <%= image_tag "logo.png", class: "img-circle avatar-menu text-center" %>
            <% end %>
          </div>
          <div class="user-card-details text-center">
            <ul class="text-center">
              <li> <%= @chef.first_name %><%= @chef.last_name %></li>
              <li> <%= @chef.description %></li>
            </ul>
          </div>
          <% if user_signed_in? %>
            <%= link_to "Chef's profile", new_menu_booking_path(@menu), {class: "btn btn-primary user-card-btn"} %>
          <% else %>
            <%= link_to "Chef's profile", new_user_registration_path, {class: "btn btn-primary user-card-btn"} %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="user-card">
          <div class="user-card-title text-center">
            <h2> Review your menu </h2>
          </div>
          <div class="user-card-details">
            <ul class="text-center">
              <li> <i class="fa fa-money" aria-hidden="true"></i> <%= @menu.price %> £ p/p </li>
              <li> <i class="fa fa-cutlery" aria-hidden="true"></i> <%= @menu.category %></li>
              <li> <i class="fa fa-users" aria-hidden="true"></i> from <%= @menu.min_guests %> to <%= @menu.max_guests %> </li>
              <li> <h3>Starter</h3><p> <%= @menu.starter %></p></li>
              <li> <h3>Main Course</h3><p> <%= @menu.main %></p></li>
              <li> <h3>Dessert</h3><p> <%= @menu.dessert %></p></li>
            </ul>
          </div>
            <% if user_signed_in? %>
            <%= link_to "Book this menu now", new_menu_booking_path(@menu), {class: "btn btn-danger user-card-btn"} %>
            <% else %>
            <%= link_to "Book this menu now", new_user_registration_path, {class: "btn btn-danger user-card-btn"} %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


