<h1> <%= @menu.name %> </h1>

  <ul>
    <li> <%= @menu.price %> € </li>
    <li> <%= @menu.preparation_time %> minutes </li>
    <li> from <%= @menu.min_guests %> to <%= @menu.max_guests %> </li>
    <li> Type of cuisine <%= @menu.category %> </li>
    <li> <%= @menu.starter %></li>
    <li> <%= @menu.main %></li>
    <li> <%= @menu.dessert %></li>

    <% if user_signed_in? %>
      <%= link_to "Book this menu now", new_user_booking_path %>
    <% else %>
      <%= link_to "Book this menu now", new_user_session_path %>
    <% end %>

  </ul>


