<div class="form-wrapper">
  <div class = "container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
        <div class="form">
            <h2> Make a Booking </h2>
          <%= simple_form_for [@booking.menu, @booking] do |f| %>
            <%= f.input :location %>
            <%= f.input :datetime, label: 'Date and Time' %>
            <%= f.input :guests %>
            <%= f.submit "Make a booking", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



