


<%= javascript_include_tag "https://maps.google.com/maps/api/js" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

  <%= javascript_include_tag "application" %>
   <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/1000/800');"">

  <div class="banner-content">
    <h1><%= @booking.menu.name %></h1>
       <p> <%= @booking.location %> </p>
       <p> <%= @booking.datetime %> </p>
       <p> <%= @booking.guests %> </p>
        <%= link_to "delete", booking_path, method: :delete, class: "btn btn-danger" %>
        <%= link_to "See all my bookings", user_bookings_path, class: "btn btn-danger" %>

  </div>
</div>

  <%= yield(:after_js) %>

  <div id="map" style="width: 100%; height: 600px;"></div>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).on('ready', function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    <% end %>
  <% end %>
</body>
