<div class="wrapper-user">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="user-card text-center">
          <h1>My Profile</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="user-card">
          <div class="user-card-info">
            <div class="user-card-photo">
            <!-- This image_tag needs to be altered when attachinary is implemented -->
              <% if @user.photo? %>
                <%= cl_image_tag @user.photo.path, width: 240, height: 240, crop: :fill, class: "img-circle" %>
              <% else %>
                <%= image_tag "logo.png", class: "avatar-xl" %>
              <% end %>
            </div>
            <div class="user-card-details">
              <h2>Account details </h2>

              <p><strong>Name:</strong> <%= "#{@user.first_name} #{@user.last_name}" %></p>
              <p><strong>Email:</strong> <%= @user.email %></p>
              <p><strong>Address:</strong> <%= @user.postal_address %></p>

              <%= link_to "Edit", edit_user_registration_path, { class: "btn btn-danger user-card-btn" } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="user-card">
          <div class="user-card-title text-center">
            <h2>My menus</h2>
          </div>
          <div class="user-card-details">
            <% if @user.menus.count == 0 %>
              <div class="user-card-empty-list text-center">
                <p>You don't have any menus yet!</p>
              </div>
            <% else %>
              <% @user.menus.each do |menu| %>
                <div class="user-card-list">

                    <% if menu.photos? %>
                      <%= cl_image_tag menu.photos[0].path, crop: :fill, class: "avatar" %>
                    <% else %>
                      <%= image_tag "logo.png", class: "avatar" %>
                    <% end %>


                  <%= link_to menu.name, menu_path(menu), { class: "user-card-list-name"} %>
                  <!-- The link below needs to be linked to the menu#edit path - not yet created -->
                  <%= link_to "Edit", edit_menu_path(menu), { class: "btn btn-danger list-edit-btn" } %>
                  <%= link_to "Delete", menu_path(menu), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger list-delete-btn" %>
                </div>
              <% end %>
            <% end %>
          </div>
          <!-- This link needs to be linked to the menu#new path - not yet created -->
          <%= link_to "Add new menu", new_menu_path, { class: "btn btn-danger user-card-btn" } %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="user-card">
          <div class="user-card-title text-center">
            <h2>My bookings</h2>
          </div>
          <div class="user-card-details">
            <% if @user.bookings.count == 0 %>
              <div class="user-card-empty-list text-center">
                <p>You don't have any bookings yet!</p>
              </div>
            <% else %>
              <% @user.bookings.each do |booking| %>
                <div class="user-card-list" ">
                  <% if booking.menu.photos? %>
                    <%= cl_image_tag booking.menu.photos[0].path, crop: :fill, class: "avatar" %>
                  <% else %>
                    <%= image_tag "logo.png", class: "avatar" %>
                  <% end %>
                  <ul class="user-card-list-name">
                    <li> <%= booking.menu.name[0..40].gsub(/\s\w+\s*$/, '...') %></li>
                    <li> <%= booking.datetime.strftime("%A %d %B %H:%M") %> </li>
                  </ul>
                    <%= link_to "View", booking_path(booking), { class: "btn btn-danger list-view-button"} %>
                </div>
              <% end %>
            <% end %>
          </div>
          <%= link_to "View all bookings", user_bookings_path, { class: "btn btn-danger user-card-btn" } %>
        </div>
      </div>
    </div>
  </div>
</div>
