<div class="navbar-wagon">
  <!-- Logo -->
  <div class="navbar-wagon-left">
    <a href="/" class="navbar-wagon-brand">
      <%= image_tag 'logo.png' %>
    </a>

    <h2>Chef@home</h2>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% categories = %w(Italian Chinese Japanese Belgian French Indian Lebanese Persian Etiopian Vietnameese English Spanish Carribean Greek)
 %>

    <%= form_tag(menus_path, :method => "get", id: "nav-search-form", class: "navbar-wagon-search") do %>
      <%= select_tag :category, options_for_select(categories), :prompt => "What type of Menu?", :class => "form-control navbar-wagon-search-input", :id => "search-category" %>
      <%= select_tag :guests, options_for_select((1..10)), :prompt => "Number of guest", :class => "form-control navbar-wagon-search-input", :id => "search-num-guests"  %>
      <%= submit_tag "Research", class: "btn btn-primary" %>
    <% end %>

    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Team</a>

    <!-- Profile picture and dropdown -->
    <% if user_signed_in? %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if current_user.photo? %>
            <%= cl_image_tag current_user.photo.path, crop: :fill, class: "avatar dropdown-toggle", id:"navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% else %>
            <%= image_tag "logo.png", class: "avatar dropdown-toggle", id:"navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <li><a href="#">Dashboard</a></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
      <%= link_to "Add new meal", new_menu_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, { class: "navbar-wagon-item navbar-wagon-link"} %>
      <%= link_to "Log in", new_user_session_path, { class: "navbar-wagon-item navbar-wagon-button btn"} %>
    <% end %>

    <!-- Button (call-to-action) -->
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>
