
<h1 class="text-center"> Your bookings </h1>


  <div class="container" id="customer-bookings">
    <h2 class="text-center">Customer</h2>
      <div class="row">
        <% @bookings.each do |booking| %>
          <% if user = current_user %>
           <p> <%= booking.menu.name %> </p>
           <p> <%= booking.location %> </p>
           <p> <%= booking.datetime %> </p>
           <p> <%= booking.guests %> </p>
           <%= link_to "See Details", booking_path(booking), {class: "btn-btn-danger btn-lg"} %>
           <% end %>
          </div>
        <% end %>
      </div>
  </div>

  <div class="container" id="chef-bookings">
    <h2 class="text-center">Chef</h2>
      <div class="row">
        <% @bookings.each do |booking| %>
          <% if booking.menu.user = current_user %>
           <p> <%= booking.menu.name %> </p>
           <p> <%= booking.location %> </p>
           <p> <%= booking.datetime %> </p>
           <p> <%= booking.guests %> </p>
           <%= link_to "See Details", booking_path(booking), {class: "btn-btn-danger btn-lg"} %>
           <% end %>
          </div>
        <% end %>
      </div>
  </div>
